<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYeEXLqYkxznKb3f9BWghRq9Or2jV3xW4</string>
	<key>GCM_SENDER_ID</key>
	<string>422606762242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teste</string>
	<key>PROJECT_ID</key>
	<string>devs2blu-cf3e5</string>
	<key>STORAGE_BUCKET</key>
	<string>devs2blu-cf3e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422606762242:ios:64f460f8527413b1e0921b</string>
</dict>
</plist>